[submodule "core-lib"]
	path = core-lib
	url = https://github.com/charig/SOM.git
[submodule "libs/truffle"]
	path = libs/graal
	url = https://github.com/charig/truffle.git
[submodule "libs/mx"]
	path = libs/mx
	url = https://github.com/graalvm/mx.git
[submodule "libs/websocket"]
	path = libs/websocket
	url = https://github.com/smarr/Java-WebSocket.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/smarr/minimal-json.git